nav.navbar.navbar-expand-lg.navbar-light.bg-light
  a.navbar-brand(href='/')
    img(src='/papa-head.png' alt='papa - portfolio mapper' width='60')
  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    ul.navbar-nav.mr-auto
      li.nav-item.active
        a.nav-link(href='/standards')
          | Standards 
          span.sr-only (current)
      li.nav-item
        a.nav-link(href='/cohorts') Cohorts
    .form-inline.my-2.my-lg-0
      .pill.text-muted.mr-2 v#{version}
      if user && user.name
        button#signOut.btn.btn-outline-primary.my-2.my-sm-0 Signout
