mixin popthis(title, content)
    button.btn.btn-link.p-0.ml-1(type='button' data-container='body' data-title=title data-toggle='popover' data-placement='top' data-html='true' data-content=content)
        img(src='/help-icon.svg' alt='help hint' style='width:1rem;height:1rem;')