.progress.my-4
    .progress-bar.progress-bar-striped.bg-info(role="progressbar" aria-valuenow=apprentice.progress aria-valuemin="0" aria-valuemax="100" style=`width:${apprentice.progress}%;`)
        | #{Math.round(apprentice.progress)}%